<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="favicon/favicon.ico">
  <link rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.bundle.css">

  <title>Page Layout</title>
</head>
<body>
<div class="pl-container">
  <header>
    <nav class="pl-navtop">
      <div class="pl-navtop__menu">
        <div class="pl-navtop__menu-item red"></div>
        <div class="pl-navtop__menu-item yellow"></div>
        <div class="pl-navtop__menu-item blue"></div>
      </div>
      <div class="pl-navtop__title">
        <div class="pl-navtop__title-item">
          <i class="fa fa-book"></i> MyBookApp
        </div>
      </div>
      <div class="pl-navtop__info">
        <div class="pl-navtop__info-item">Help Center</div>
        <div class="pl-navtop__info-item">Our Support</div>
        <div class="pl-navtop__info-item">
          <img src="img/avatar-01.png" class="avatar">
          John Doe
          <i class="fa fa-chevron-circle-down icon"></i>
        </div>
      </div>
    </nav>
    <section class="pl-action">

    </section>
  </header>
  <main>
    <nav class="pl-navside">
      <div class="pl-navside__create">
        <div class="pl-navside__create-item">
          <i class="fa fa-plus icon"></i>
          ADD A BOOK
        </div>
      </div>
      <div class="pl-navside__action">
        <div class="pl-navside__action-item">
          <i class="fa fa-book icon"></i>
          Now Reading
        </div>
        <div class="pl-navside__action-item">
          <i class="fa fa-globe icon"></i>
          Browse
        </div>
        <div class="pl-navside__action-item">
          <i class="fa fa-shopping-cart icon"></i>
          Buy Books
        </div>
        <div class="pl-navside__action-item">
          <i class="fa fa-star icon"></i>
          Favourite Books
        </div>
        <div class="pl-navside__action-item">
          <i class="fa fa-list icon"></i>
          Wishlist
        </div>
        <div class="pl-navside__action-item">
          <i class="fa fa-clock-o icon"></i>
          History
        </div>
      </div>
      <div class="pl-navside__legend">
        <div class="pl-navside__legend-item">
          <span class="circle red"></span>
          Must Read Titles
        </div>
        <div class="pl-navside__legend-item">
          <span class="circle yellow"></span>
          Best Of List
        </div>
        <div class="pl-navside__legend-item">
          <span class="circle blue"></span>
          Classic Novels
        </div>
        <div class="pl-navside__legend-item">
          <span class="circle purple"></span>
          Non Fiction
        </div>
      </div>
      <div class="pl-navside__history">
        <div class="pl-navside__history-item">
          <i class="fa fa-clock-o icon"></i>
          You added Fight Club by Chuck Palahniuk to your Must Read Titles.
          <br><br>
          24 minutes ago
        </div>
        <div class="pl-navside__history-item">
          <i class="fa fa-clock-o icon"></i>
          You added The Trial by Franz Kafka to your Must Read Titles.
          <br><br>
          48 minutes ago
        </div>
      </div>
    </nav>
  </main>

  <footer>
    <div class="pl-navbottom">
      <div class="pl-navbottom__action">
        <div class="pl-navbottom__action-item">
          <i class="fa fa-question-circle-o icon"></i>
        </div>
        <div class="pl-navbottom__action-item">
          <i class="fa fa-gear icon"></i>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>