$nav-background: #2f364a;
$nav-border: #141824;
$nav-color: #78829d;
$nav-hover: #15a4fa;
$main-background: #eef1f7;
$main-border: #dadfea;
$main-color: #8c97b2;
$content-color: #444c63;
$foo-background: #181e2c;

@font-face {
  font-family: 'Proxima-Nova';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf);
}

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

html,
body,
div,
label,
p {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pl-container {
  font-family: Proxima-Nova;
  width: 100%;

  &__header {
    & .pl-navtop {
      background-color: $nav-background;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      height: 45px;
      width: 100%;

      &__info {
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        text-align: right;
        width: 33%;

        %header-button {
          display: flex;
          align-items: center;
          color: $nav-color;
          cursor: pointer;
          height: 45px;
          padding: 0 12px;
          text-align: left;

          &:hover {
            background-color: $nav-hover;
            color: #fff;
          }
        }

        &--clear {
          @extend %header-button;
        }

        &--img {
          @extend %header-button;

          & .avatar {
            border: 2px solid #fff;
            border-radius: 50%;
            height: 32px;
            margin-right: 12px;
            vertical-align: middle;
            width: 32px;
          }

          & .icon {
            margin: 0 18px 0 24px;
          }
        }
      }

      &__menu {
        padding: 0 20px;
        text-align: left;
        width: 33%;

        %header-circle {
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
        }

        &--red {
          @extend %header-circle;
          background-color: #e76847;
        }

        &--yellow {
          @extend %header-circle;
          background-color: #fabf00;
        }

        &--blue {
          @extend %header-circle;
          background-color: #52bea6;
        }
      }

      &__title {
        font-size: 12px;
        text-align: center;
        width: 33%;

        &--item {
          color: $nav-color;
        }
      }
    }
  }

  &__main {
    display: flex;

    & .pl-navleft {
      display: flex;
      flex-direction: column;
      background-color: #1f2637;
      width: 200px;

      &__create {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        border-bottom: 4px solid $nav-border;

        &--button {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #f2795a;
          border-radius: 4px;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          height: 44px;
          width: 160px;

          & .icon {
            font-size: 16px;
            margin-right: 18px;
          }

          &:hover {
            opacity: .8;
          }
        }
      }

      &__section {
        height: calc(100vh - 45px - 45px - 120px);
        overflow-y: auto;
      }

      &__action {
        border-top: 1px solid $nav-background;
        border-bottom: 4px solid $nav-border;
        height: 246px;

        &--item {
          cursor: pointer;
          display: flex;
          align-items: center;
          font-size: 13px;
          color: $nav-color;
          height: 38px;

          & .icon {
            margin: 0 20px 0 22px;
            text-align: center;
          }

          &:hover {
            background-color: $nav-hover;
            color: #fff;
          }
        }
      }

      &__legend {
        border-top: 1px solid $nav-background;
        border-bottom: 4px solid $nav-border;
        height: 185px;
        padding: 18px 0;

        %legend-item {
          display: flex;
          align-items: center;
          font-size: 13px;
          color: $nav-color;
          height: 37px;

          & .circle {
            border-radius: 50%;
            margin: 0 24px;
            height: 6px;
            width: 6px;
          }
        }

        &--red {
          @extend %legend-item;

          & .circle {
            background-color: #e64c66;
          }
        }

        &--yellow {
          @extend %legend-item;

          & .circle {
            background-color: #ffab00;
          }
        }

        &--blue {
          @extend %legend-item;

          & .circle {
            background-color: #00bfdd;
          }
        }

        &--purple {
          @extend %legend-item;

          & .circle {
            background-color: #7874cf;
          }
        }
      }

      &__history {
        border-top: 1px solid $nav-background;
        height: calc(100vh - 45px - 45px - 120px - 185px - 246px);
        padding: 22px;

        &--item {
          display: flex;
          font-size: 12px;
          color: $nav-color;
          margin-bottom: 22px;

          & .icon {
            font-size: 13px;
            margin-right: 20px;
            padding-top: 2px;
            text-align: center;
          }
        }
      }
    }

    & .pl-navright {
      display: flex;
      flex-direction: column;
      width: calc(100% - 200px);

      &__info {
        display: flex;
        align-items: center;
        background-color: $main-background;
        border-bottom: 1px solid #dadfea;
        height: 70px;

        &--item {
          color: $content-color;
          font-size: 22px;
          padding-left: 23px;
        }
      }

      &__manage {
        display: flex;
        align-items: center;
        background-color: $main-background;
        border-bottom: 1px solid $main-border;
        height: 50px;

        %manage-item {
          display: flex;
          align-items: center;
          border-radius: 9.5px;
          color: $main-color;
          cursor: pointer;
          font-size: 12px;
          padding: 4px 10px;
        }

        &--action {
          @extend %manage-item;
          margin-left: 20px;

          &:hover {
            background-color: #97b3ce;
            color: #fff;
          }
        }

        &--search {
          @extend %manage-item;
          margin-left: auto;

          & .search-box {
            border: 1px solid $main-border;
            border-right: none;
            border-radius: 15.5px 0 0 15.5px;
            color: $main-color;
            font-family: Proxima-Nova;
            font-size: 13px;
            padding: 0 15px;
            height: 32px;
            outline: none;
            width: calc(100vw - 850px);

            &::placeholder {
              color: $main-color;
            }
          }

          & .search-btn {
            display: flex;
            align-items: center;
            background: #fff;
            border: 1px solid $main-border;
            border-left: none;
            border-radius: 0 15.5px 15.5px 0;
            font-size: 14px;
            height: 32px;
            width: 28px;
          }
        }
      }

      &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: calc(100vh - 45px - 45px - 50px - 70px);
        padding: 20px;
        overflow-y: auto;

        &--item {
          margin: 15px 20px;
          width: 200px;

          & .cover {
            width: 200px;
          }

          & .book {
            font-size: 16px;
            color: $content-color;
            padding: 11px 0;
          }

          & .author {
            font-size: 12px;
            color: #6f7d95;
          }

          & .rating {
            font-size: 14px;
            color: #ffab00;
            padding-top: 11px;

            & .icon {
              margin-right: -2px;
            }
          }
        }

        &--hidden {
          height: 0;
          margin: 0 20px;
          visibility: hidden;
          width: 200px;
        }

        &::after {
          content: "";
          flex: auto;
        }
      }
    }
  }

  &__footer {
    & .pl-navbottom {
      display: flex;
      justify-content: flex-end;
      background-color: $foo-background;
      bottom: 0;
      position: absolute;
      height: 45px;
      width: 100%;

      &__action {
        display: flex;
        color: #fff;

        &-item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 55px;

          &:hover {
            background-color: $nav-hover;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .pl-container {
    &__header {
      & .pl-navtop {
        &__info {
          width: 60%;

          &--clear {
            padding: 0 5px !important;
          }

          &--img {
            padding: 0 5px !important;

            & .icon {
              margin: 0 4px 0 8px;
            }
          }
        }

        &__menu {
          padding: 0 7px;
          width: 15%;
        }

        &__title {
          width: 25%;
        }
      }
    }

    &__main {
      & .pl-navleft {
        width: 150px;

        &__create {
          &--button {
            height: 60px;
            width: 120px;


            & .icon {
              font-size: 16px;
              margin: 18px;
            }
          }
        }

        &__action {
          &--item {
            & .avatar {
              margin-right: 8px;
            }

            & .icon {
              margin: 0 10px 0 12px;
            }
          }
        }

        &__legend {
          padding: 8px 0;

          & .circle {
            margin: 0 14px !important;
          }
        }

        &__history {
          padding: 12px;

          &--item {
            & .icon {
              margin-right: 10px;
            }
          }
        }
      }

      & .pl-navright {
        width: calc(100% - 150px);

        &__info {
          &--item {
            padding-left: 12px;
          }
        }

        &__manage {
          &--action {
            font-size: 10px;
            margin-left: 6px;
            padding: 4px !important;
            overflow-y: hidden;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .pl-container {
    &__main {
      & .pl-navright {
        &__content {
          &--item {
            & .cover {
              width: 150px;
            }
          }
        }
      }
    }
  }
}